@page "/generos"
@inject IRepositorio repositorio

<h3>Indice Generos</h3>


<div class="mb-3">
    <a href="generos/crear" class="btn btn-info">Agregar</a>
</div>
<ListadoGenerico Listado="Generos">
    <HayRegistrosCompleto>
      <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Generos!)
            {
                <tr>
                        <td>
                            @item.Nombre
                        </td>
                    <td>
                        <a class="btn btn-success">Editar</a>
                        <a class="btn btn-danger">Borrar</a>
                    </td>
                  
                </tr>
            }
        </tbody>
        </table>
    </HayRegistrosCompleto>
</ListadoGenerico>
@code {
    List<Genero>? Generos { get; set; }

    protected async override Task OnInitializedAsync()
    {
       var respuestaHTTP = await repositorio.Get<List<Genero>>("api/generos");
       Generos = respuestaHTTP.Response;
    }

   
}