@inherits InputTextArea
@typeparam TValue
@using System.Linq.Expressions;

<div>
    <label>@Label</label>
    
        <InputTextArea @bind-Value="CurrentValue"/>
        <ValidationMessage For="For" />
  
</div>

<div>
    <label>@Label (preview)</label>
    <div class="markdown-container" style="overflow:auto">
        <MostrarMarkdown ContenidoMarkdown="@CurrentValue"/>
    </div>
</div>

@code {
    [Parameter] public string Label { get; set; } = "Campo";
    [Parameter] public Expression<Func<TValue>>? For { get; set; }
}
